PORT:<port on which backend run>
PUSHER_APP_ID=<your pusher app id>
PUSHER_APP_KEY=<your pusher app key>
PUSHER_APP_SECRET=<your pusher app secret>
PUSHER_APP_CLUSTER=<your pusher app cluster>


CLOUDINARY_CLOUD_NAME=dk78ljovl<your cloudinary cloud name>
CLOUDINARY_API_KEY=<your cloudinary api key>
CLOUDINARY_API_SECRET=<your cloudinary api secret>